<div class="bookshow">

<div class="bookshow05">
  <%= flash[:notice] %>
</div>

<section class="bookshow1">
<p><strong>Title:</strong><%= @book.title %></p>
</section>

<section class="bookshow2">
<P><strong>Body:</strong><%= @book.body %></P>
</section>

<%= link_to "Edit",edit_book_path(@book.id) %>

|

<a href = "/books">Back</a>



</div>