<div class = "booktop">
<h1>ようこそ
     <strong>Bookers</strong>
     へ！</h1>


  <section class="booktop1">
    <strong>Bookers</strong>
      では、さまざまな書籍に関するあなたの意見や</p>
  </section>

  <section class = "booktop2">
     <p>印象を共有して交換することができます</p>
  </section>

  <section class = "booktop3">
   <a href = "/books">
   start
   </a>
  </section>

</div>